@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .font-outline-white {
    -webkit-text-stroke: 1px white;
  }
    .font-outline-black {
    -webkit-text-stroke: 1px black;
  }
  .font-outline-none {
    -webkit-text-stroke: 0px;
  }
}

@media (prefers-color-scheme: dark) {
	:root {
		body {
			color: #F1F5F9;
			background: black;
		}
	}
}

body {
	color: #0F172A;
	background: white;
}

.before\:bg-bg-drop {
    will-change: opacity, transform;
}
