@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .font-outline {
    -webkit-text-stroke: 1px white;
  }
  .font-outline-none {
    -webkit-text-stroke: 0px;
  }
}

@media (prefers-color-scheme: dark) {
	:root {
		body {
			color: gray;
			background: black;
		}
	}
}

body {
	color: black;
	background: white;
}
